<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- TikzJax CSS and JS -->
    <link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
    <script src="https://tikzjax.com/v1/tikzjax.js"></script>
    <script src="https://unpkg.com/minisearch/dist/umd/MiniSearch.min.js"></script>
    <script>console.log('MiniSearch loaded:', typeof MiniSearch !== 'undefined');</script>

    <script src="{{ '/scripts/search.js' | relative_url }}"></script>

    <!-- <script src="{{ site.basurl }}/scripts/search.js"></script> -->

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/toc.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/gloss-code-block.css">

    <!-- external fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap" rel="stylesheet">

    <!-- Font face declarations -->
    
    <style>
        @font-face {
            font-family: 'Minion 3';
            src: url('{{ site.baseurl }}/assets/fonts/minion/Minion3-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
    </style>

    <!-- Custom styles -->

</head>